html,
body {
	height: 100%;
}
body {
	background-color: #131313;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

body.no-scroll {
    overflow: hidden; /* Предотвращает прокрутку страницы, пока прелоадер активен */
    background-color: transparent; /* Убирает фон body, пока прелоадер активен */
}

[x-cloak] {
	display: none !important;
}

#preloader {
	background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 9999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.logo:hover .logo-svg {
	transform: rotateY(180deg);
}
.btn--animateglowPink {
	--border-size: 6px;
	--border-angle: 0turn;
	background-image: conic-gradient(
			from var(--border-angle),
			#131313,
			#131313 50%,
			#131313
		),
		conic-gradient(
			from var(--border-angle),
			transparent 20%,
			#d33cf2,
			transparent
		);
	background-size: calc(100% - (var(--border-size) * 2))
			calc(100% - (var(--border-size) * 2)),
		cover;
	background-position: center center;
	background-repeat: no-repeat;
	animation: 8s linear infinite bg-spin;
}
@keyframes bg-spin {
	to {
		--border-angle: 1turn;
	}
}
@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}
.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-areas: "layer";
	place-items: center;
	border-radius: 50%;

	--radius: 250px;
	width: 100%;
	min-height: 100%;
	transition: all 0.3s ease;
}
.stat {
	grid-area: layer;
	--d: calc(var(--i) / var(--total));
	--r-offset: -0.25turn;
	--r-amount: 1turn;
	--r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
	--transform: rotate(var(--r)) translate(var(--radius))
		rotate(calc(-1 * var(--r)));
	transform: var(--transform);
}
.glass {
	background: rgba(255, 255, 255, 0.26) !important;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(9.3px) !important;
	-webkit-backdrop-filter: blur(9.3px) !important;
}
@media (max-width: 1280px) {
	.stat {
		--radius: 25vmin !important;
	}
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}
@keyframes floatdown {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(-5px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(-5px);
	}
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Размытие заднего фона */
}

.card {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  border-radius: 12px;
}

body.modal-active {
  filter: blur(5px);  /* Применяем размытие ко всему телу страницы */
  overflow: hidden;   /* Блокируем прокрутку */
}


#cookieSvg {
  width: 50px;
}

.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}

.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: auto;
  color: rgb(99, 99, 99);
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.acceptButton, .declineButton {
  width: 111px;
  height: auto;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 20px;
  transition-duration: .2s;
}

.acceptButton {
  background-color: #7b57ff;
  color: #f1f1f1;
}

.acceptButton:hover {
  background-color: #9173ff;
}

.declineButton {
  background-color: #dadada;
  color: #2e2e2e;
}

.declineButton:hover {
  background-color: #ebebeb;
}

        .nav-container {
            display: flex;
            align-items: center; /* Вертикальное выравнивание */
            space-x-8: 8px;
        }

        /* Стили для навигационных ссылок */
        .nav-link {
            position: relative;
            text-decoration: none;
            color: white;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            padding: 10px 0; /* Добавим padding для выравнивания */
        }

        .nav-link:hover {
            color: #E730CA;
        }

        .nav-link::before {
            content: '';
            position: absolute;
            bottom: 2.5px;
            left: 50%;
            transform: translateX(-50%);
            height: 1.5px;
            width: 0;
            background-color: white;
            transition: width 0.5s;
        }

        .nav-link:hover::before {
            width: 100%;
        }

        /* Стили для кнопки "Головна" */
        .active-link {
            color: #E730CA;
        }

        .active-link::before {
            width: 100%;
        }

        /* Стили для меню */
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(128, 128, 128, 0.7);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10;
        }

        .dropdown-menu a {
            display: block;
            margin: 5px 0;
            color: white;
        }

        .dropdown-menu a:hover {
            color: #E730CA;
        }

        /* Стили для анимации меню */
        .dropdown-menu.show {
            display: block;
            animation: fadeIn 0.5s;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
